html{
    font-size: 30px;
    font-family: Rubik Doodle Shadow; /* fuck you */
}
body{
    width: 900px;
    margin: 20px auto;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}
p, h1, h3, li {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    padding: 5px 0;
}
#first-p {
    color: rgb(255, 0, 0);
}

#first-p:hover{
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: #f73e69;
    width: 420px;
}
img{
    width: 200px;
    height: 275px;
    margin: 0 auto;
    display: block;
}